<form #form="ngForm">
  <table mat-table [dataSource]="statusDataSource" class="mat-elevation-z6">

    <ng-container matColumnDef="name" >
      <th style="width: 20%;" mat-header-cell *matHeaderCellDef>Nome</th>
      <td style="width: 20%;" mat-cell *matCellDef="let statusTable">
        <input [value]="statusTable.status.name" placeholder="Título" [readonly]="!statusTable.edit" matInput>
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th style="width: 40%;" mat-header-cell *matHeaderCellDef>Descrição</th>
      <td style="width: 40%;" mat-cell *matCellDef="let statusTable">
        <input [value]="statusTable.status.description" placeholder="Descrição" [readonly]="!statusTable.edit" matInput>
      </td>
    </ng-container>

    <ng-container matColumnDef="registerDate">
      <th style="width: 10%;" mat-header-cell *matHeaderCellDef>Data de registro</th>
      <td style="width: 10%;" mat-cell *matCellDef="let statusTable">{{statusTable.status.registerDate | date: 'dd/MM/yyyy'}}</td>
    </ng-container>

    <ng-container matColumnDef="alterationDate">
      <th style="width: 10%;" mat-header-cell *matHeaderCellDef>Data de alteração</th>
      <td style="width: 10%;" mat-cell *matCellDef="let statusTable">{{statusTable.status.alterationDate | date: 'dd/MM/yyyy'}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th style="width: 20%;" mat-header-cell *matHeaderCellDef></th>
      <td style="width: 20%;" mat-cell *matCellDef="let statusTable">
        <button mat-icon-button color="primary" (click)="editStatus(statusTable.status, true)">
          <mat-icon>edit</mat-icon>
        </button>
        <button  mat-icon-button color="primary" (click)="deleteStatus(statusTable.status)">
          <mat-icon>delete</mat-icon>
        </button>
        <button  mat-icon-button color="primary" *ngIf="statusTable.edit" (click)="updateStatus(statusTable.status, false)">
          <mat-icon>check_circle</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row [class.edit-row]="row.edit" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                  showFirstLastButtons>
  </mat-paginator>
</form>
