.side-container {
  background: #eee;
  width: 250px;
  height: calc(100vh - 75px);/*75px - height do toolbar*/
}

.side {
  width: inherit;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.side > button {
  text-align: left;
  font-size: large;
  font-weight: bolder;
}
